
@{
    ViewBag.Title = "HomeMainContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/HomeMainContent.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
</head>
<body>

    <div id="carouselExampleIndicators " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20kv%2020.10%20T10_Banner%20PC.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20iphone%2015%20TH_PC%20(3).jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20iphone%2015%20pro%20max%20TH_PC%20(3).jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20iphone%2014%20Pro%20Max%20T10_Banner%20PC.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20ipad%20gen%209%20T10_Banner%20PC%20(1).jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20watch%20T10_Banner%20PC.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20macbook%20air%20t10_Banner%20PC%20(1).jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://shopdunk.com/images/uploaded/banner/Banner%20th%C3%A1ng%208/banner%20apple%20pay_Banner%20PC.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="content-home">
        <div class="title2">
            <a class="item-title2" href="">
                <img class="img-title2" style="object-fit: cover; width:100%" src="https://shopdunk.com/images/uploaded/banner/banner_thang10/Banner%20%C3%82m%20thanh.png" />
            </a>
            <a class="item-title2" href="">
                <img class="img-title2" style="object-fit: cover; width:100%" src="https://shopdunk.com/images/uploaded/banner/banner_thang10/Banner%20TCDM.png" />
            </a>
            <a class="item-title2" href="">
                <img class="img-title2" style="object-fit: cover; width:100%" src="https://shopdunk.com/images/uploaded/banner/bonus%20banner/387x166%201.png" />
            </a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <div><h1>Iphone</h1></div>
        <div class="layout-list-item">
            <div class="list-item">
                <a href="~/CustomerProducts/Details/4" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0007808_iphone-14-pro-max-128gb_240.png" />
                    <p>iPhone 15 Pro Max 256GB</p>
                    34.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">37.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022255_iphone-15-128gb_240.png" />
                    <p>iPhone 15 128GB</p>
                    21.890.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">24.990.000<sup>đ</sup></span>
                </a>
                <a href="~/CustomerProducts/Details/1" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022263_iphone-15-pro-128gb_240.png" />
                    <p>iPhone 15 Pro 128GB</p>
                    27.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">30.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022266_iphone-15-pro-max-256gb_240.png" />
                    <p>iPhone 15 Pro Max 256GB</p>
                    34.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">37.990.000<sup>đ</sup></span>
                </a>
            </div>
        </div>
        <div class="layout-button">
            <a href="/CustomerProducts?category=IP">
                <div data-tooltip="Price-cost" class="button">
                    <div class="button-wrapper">
                        <div class="text">Buy Now</div>
                        <span class="icon">
                            <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div><h1>Ipad</h1></div>
        <div class="layout-list-item">
            <div class="list-item">
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0000594_ipad-air-4_240.png" />
                    <p>iPad Air 4</p>
                    14.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">19.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0006205_ipad-gen-9-102-inch-wifi-64gb_240.png" />
                    <p>iPad gen 9 10.2 inch WiFi 64GB</p>
                    7.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">9.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0007071_ipad-pro-m2-11-inch-wifi-128gb_240.png" />
                    <p>iPad Pro M2 11 inch WiFi 128GB</p>
                    19.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">23.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0010883_ipad-pro-m1-129-inch-wifi-cellular-512gb_240.webp" />
                    <p>iPhone 15 Pro Max 256GB</p>
                    35.450.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">42.990.000<sup>đ</sup></span>
                </a>
            </div>
        </div>
        <div class="layout-button">
            <a href="iphone">
                <div data-tooltip="Price-cost" class="button">
                    <div class="button-wrapper">
                        <div class="text">Buy Now</div>
                        <span class="icon">
                            <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div><h1>Mac</h1></div>
        <div class="layout-list-item">
            <div class="list-item">
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0000723_macbook-air-m1-2020-8gb-ram-256gb-ssd_240.png" />
                    <p>MacBook Air M1 2020(8GB RAM | 256GB SSD)</p>
                    18.890.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">28.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0008682_macbook-pro-13-inch-m2-10-core-8gb-ram-256gb-ssd_240.png" />
                    <p>MacBook Air M2 2022 (8GB RAM | 256GB SSD)</p>
                    26.590.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">32.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0008682_macbook-pro-13-inch-m2-10-core-8gb-ram-256gb-ssd_240.png" />
                    <p>MacBook Pro 13inch M2 (10 core | 8GB RAM| 256GB SSD)</p>
                    29.690.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">35.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0011267_macbook-pro-14-inch-m2-pro-16-core-16gb-512gb_240.jpeg" />
                    <p>MacBook Pro 14 inch M2 Pro(16 Core | 16GB | 512GB SSD)</p>
                    46.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">55.000.000<sup>đ</sup></span>
                </a>
            </div>
        </div>
        <div class="layout-button">
            <a href="iphone">
                <div data-tooltip="Price-cost" class="button">
                    <div class="button-wrapper">
                        <div class="text">Buy Now</div>
                        <span class="icon">
                            <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div><h1>Watch</h1></div>
        <div class="layout-list-item">
            <div class="list-item">
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022272_apple-watch-se-nhom-2022-gps_240.jpeg" />
                    <p>Apple Watch SE Nhôm 2022 GPS</p>
                    6.190.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">8.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022278_apple-watch-series-3-nhom_240.png" />
                    <p>Apple Watch Series 3 Nhôm</p>
                    3.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">5.990.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022275_apple-watch-se-2023-gps-sport-band-size-sm_240.jpeg" />
                    <p>Apple Watch SE 2023 GPS Sport Band size S/M</p>
                    6.390.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">8.390.000<sup>đ</sup></span>
                </a>
                <a href="DetailProducts" class="detail-item">
                    <img src="https://shopdunk.com/images/thumbs/0022275_apple-watch-se-2023-gps-sport-band-size-sm_240.jpeg" />
                    <p>Apple Watch SE 2023 GPS+ Cellular Sport Band size S/M</p>
                    7.690.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i> <span style="text-decoration-line: line-through; color: #86868B;">10.990.000<sup>đ</sup></span>
                </a>
            </div>
        </div>
        <div class="layout-button">
            <a href="iphone">
                <div data-tooltip="Price-cost" class="button">
                    <div class="button-wrapper">
                        <div class="text">Buy Now</div>
                        <span class="icon">
                            <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    @{ Html.RenderAction("PartialFooter");}

</body>
</html>

