<link href="~/Content/PartialFooter.css" rel="stylesheet" />

<div class="footer_newletter">
    <div class="heading_newletter">Đăng ký nhận tin từ ShopDunk</div>
    <p>Thông tin sản phẩm mới nhất và chương trình khuyến mãi</p>
    <div class="newsletter">
        <div class="newsletter-email">
            <input id="newsletter-email" placeholder="Email của bạn" aria-label="Đăng ký nhận bản tin của chúng tôi" type="email" name="NewsletterEmail" />
            <button type="button" id="newsletter-subscribe-button">Đăng ký</button>
        </div>
    </div>
</div>
